@page
@model AceJobAgency.Pages.ChangePasswordModel
@{
}

<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card text-white" style="border-radius: 1rem;background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');">
                <div class="card-body p-5 text-center">
				<form method="post">
					<div class="mb-4">
						<div class="form-outline form-white">
							<input type="text" id="form3Example1" class="form-control" asp-for="CModel.CurrentPassword" />
							<label class="form-label" for="form3Example1" asp-for="CModel.CurrentPassword">Current Password</label>
						</div>
						<span asp-validation-for="CModel.CurrentPassword" class="text-danger"></span>
					</div>
					<div class="mb-4">
							<div class="form-outline form-white">
							<input type="text" id="form3Example1" class="form-control" asp-for="CModel.NewPassword" />
							<label class="form-label" for="form3Example1" asp-for="CModel.NewPassword">New Password</label>
						</div>
						<span asp-validation-for="CModel.NewPassword" class="text-danger"></span>
					</div>
					<div class="mb-4">
							<div class="form-outline form-white">
							<input type="text" id="form3Example2" class="form-control" asp-for="CModel.ConfirmNewPassword" />
							<label class="form-label" for="form3Example2" asp-for="CModel.ConfirmNewPassword">Confirm Password</label>
						</div>
						<span asp-validation-for="CModel.ConfirmNewPassword" class="text-danger"></span>
					</div>
					<button class="btn btn-outline-light" data-mdb-ripple-color="dark" asp-page-handler="No_Change_Password">Cancel</button>
					<button class="btn btn-secondary" asp-page-handler="Change_Password">Confirm</button>
				</form>
                </div>
            </div>
        </div>
    </div>
</div>
