@page
@model AceJobAgency.Pages.RegisterModel
@{
}

@*<head>
	<script type="text/javascript">
	function validate() {
			var str = document.getElementById('<%=password.ClientID %>').value;

		if (str < 12) {
				document.getElementById("lbl_pwdchecker").innerHTML = "Password Length must be atleast 12 characters";
			document.getElementById("lbl_pwdchecker").style.color = "Red";
			return ("too_short");
		}
			document.getElementById("lbl_pwdchecker").innerHTML = "Excellent";
		document.getElementById("lbl_pwdchecker").style.color = "Blue";
		 id="password" onkeyup="javascript:validate()"
	}

</script>*@
@*</head>*@

@*<div class="container mt-5">

	<div class="row justify-content-center align-items-center">

		<div class="col-sm-12 col-md-12 col-lg-4">
			<h1 class="mb-3">Register </h1>

			<form method="post" enctype="multipart/form-data">
				<div asp-validation-summary="All" class="text-danger"></div>
				<div class="mb-3">
					<label class="form-label" asp-for="RModel.FirstName">First Name</label>
					<input type="Text" asp-for="RModel.FirstName" class="form-control" />
					<span asp-validation-for="RModel.FirstName" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label class="form-label" asp-for="RModel.LastName">Last Name</label>
					<input type="Text" asp-for="RModel.LastName" class="form-control" />
					<span asp-validation-for="RModel.LastName" class="text-danger"></span>
				</div>
				<div class="col-md-6 mb-4">
					<label class="col-form-label" asp-for="RModel.Gender"></label>
					<div class="col-sm-10 d-flex align-items-center">
						<div class="form-check form-check-inline">
							@Html.RadioButtonFor(m => m.RModel.Gender, "Male",
							new {@class = "form-check-input"})
							<label class="form-check-label">Male</label>
						</div>
						<div class="form-check form-check-inline">
							@Html.RadioButtonFor(m => m.RModel.Gender, "Female",
							new {@class = "form-check-input"})
							<label class="form-check-label">Female</label>
						</div>
						<br />
						<span asp-validation-for="RModel.Gender" class="text-danger"></span>
					</div>
				</div>
				<div class="mb-3">
					<label class="form-label" asp-for="RModel.NRIC">NRIC</label>
					<input type="Text" asp-for="RModel.NRIC" class="form-control" />
					<span asp-validation-for="RModel.NRIC" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label class="form-label" asp-for="RModel.Email">Email Address</label>
					<input type="Text" asp-for="RModel.Email" class="form-control" />
					<span asp-validation-for="RModel.Email" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<label class="form-label" asp-for="RModel.Password">Password</label>
					<input type="Text" asp-for="RModel.Password" class="form-control" />
					<label class="form-label" id="lbl_pwdchecker"></label>
					<span asp-validation-for="RModel.Password" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<label class="form-label" asp-for="RModel.ConfirmPassword">Confirm Password</label>
					<input type="Text" asp-for="RModel.ConfirmPassword" class="form-control" />
					<span asp-validation-for="RModel.ConfirmPassword" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label class="form-label" asp-for="RModel.DateOfBirth">Date of Birth</label>
					<input asp-for="RModel.DateOfBirth" class="form-control" />
					<span asp-validation-for="RModel.DateOfBirth" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<label asp-for="RModel.Resume">Choose a file to upload Resume:</label><br />
					<input type="file" class="form-control" asp-for="RModel.Resume" accept=".pdf,.docx">
					<span asp-validation-for="RModel.Resume" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<label class="form-label" asp-for="RModel.WhoamI">WhoamI</label>
					<br />
					<textarea asp-for="RModel.WhoamI" rows="10" cols="20" style="width: 100%; height: 100px; max-width: 100%;"></textarea>
					<span asp-validation-for="RModel.WhoamI" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<button ctype="submit" class="btn btn-primary">Register</button>
				</div>
			</form>
		</div>
	</div>
</div>
*@

<!-- Section: Design Block -->
<section class="text-center">
	<!-- Background image -->
	<div class="p-5 bg-image" style="
        background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
        height: 300px;
        "></div>
	<!-- Background image -->

	<div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: -100px;
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
        ">
		<div class="card-body py-5 px-md-5">

			<div class="row d-flex justify-content-center">
				<div class="col-lg-8">
					<h2 class="fw-bold mb-5">Sign up now</h2>
					<form method="post" enctype="multipart/form-data">
						<div asp-validation-summary="All" class="text-danger"></div>

						<div class="row">
							<div class="col-md-6 mb-4">
								<div class="mb-4">
									<div class="form-outline">
										<input type="text" id="form3Example1" class="form-control" asp-for="RModel.FirstName" />
										<label class="form-label" for="form3Example1" asp-for="RModel.FirstName">First name</label>
									</div>
									<span asp-validation-for="RModel.FirstName" class="text-danger"></span>
								</div>
								<div class="mb-4">
									<div class="form-outline">
										<input type="text" id="form3Example2" class="form-control" asp-for="RModel.LastName" />
										<label class="form-label" for="form3Example2" asp-for="RModel.LastName">Last name</label>
									</div>
									<span asp-validation-for="RModel.LastName" class="text-danger"></span>
								</div>
								<div class="mb-4">
									<div class="form-outline">
										<input id="form3Example1" class="form-control datepicker" asp-for="RModel.DateOfBirth" />
										<label class="form-label" for="form3Example1" asp-for="RModel.DateOfBirth">Date Of Birth</label>
									</div>
									<span asp-validation-for="RModel.DateOfBirth" class="text-danger"></span>
								</div>
									<div class="col-sm-10 d-flex align-items-center mb-4">
										<label class="col-form-label" asp-for="RModel.Gender" style="margin-right: 20px"></label>
										<div class="form-check form-check-inline">
											@Html.RadioButtonFor(m => m.RModel.Gender, "Male",
											new {@class = "form-check-input"})
											<label class="form-check-label">Male</label>
										</div>
										<div class="form-check form-check-inline">
											@Html.RadioButtonFor(m => m.RModel.Gender, "Female",
											new {@class = "form-check-input"})
											<label class="form-check-label">Female</label>
										</div>
										<br />
										<span asp-validation-for="RModel.Gender" class="text-danger"></span>
									</div>
								<div class="mb-4">
									<div class="d-flex justify-content-start">
										<label class="form-label mb-2" for="form3Example1" asp-for="RModel.Resume">Upload Resume</label>
									</div>
									<div class="form-outline">
										<input type="file" id="form3Example1" class="form-control datepicker" asp-for="RModel.Resume" accept=".pdf,.docx" />
									</div>
									<span asp-validation-for="RModel.Resume" class="text-danger"></span>
								</div>
							</div>

							<div class="col-md-6 mb-4">
								<div class="mb-4">
									<div class="form-outline">
										<input type="email" id="form3Example3" class="form-control" asp-for="RModel.Email" />
										<label class="form-label" for="form3Example3" asp-for="RModel.Email">Email address</label>
									</div>
									<span asp-validation-for="RModel.Email" class="text-danger"></span>
								</div>
								<div class="mb-4">
									<div class="form-outline">
										<input type="text" id="form3Example3" class="form-control" asp-for="RModel.NRIC" />
										<label class="form-label" for="form3Example3" asp-for="RModel.NRIC">NRIC</label>
									</div>
									<span asp-validation-for="RModel.NRIC" class="text-danger"></span>
								</div>
								<div class="mb-4">
									<div class="form-outline">
										<input type="text" id="form3Example1" class="form-control" asp-for="RModel.Password" />
										<label class="form-label" for="form3Example1" asp-for="RModel.Password">Password</label>
									</div>
									<span asp-validation-for="RModel.Password" class="text-danger"></span>
								</div>
								<div class="mb-4">
									<div class="form-outline">
										<input type="text" id="form3Example2" class="form-control" asp-for="RModel.ConfirmPassword" />
										<label class="form-label" for="form3Example2" asp-for="RModel.ConfirmPassword">Confirm Password</label>
									</div>
									<span asp-validation-for="RModel.ConfirmPassword" class="text-danger"></span>
								</div>
								<div class="mb-4">
									<div class="form-outline">
										<textarea class="form-control" id="textAreaExample" rows="3" asp-for="RModel.WhoamI"></textarea>
										<label class="form-label" for="form3Example2" asp-for="RModel.WhoamI">WhoamI</label>
									</div>
									<span asp-validation-for="RModel.WhoamI" class="text-danger"></span>
								</div>
							</div>
						</div>


						@*						<!-- Checkbox -->
						<div class="form-check d-flex justify-content-center mb-4">
						<input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
						<label class="form-check-label" for="form2Example33">
						Subscribe to our newsletter
						</label>
						</div>*@

						<!-- Submit button -->
						<button type="submit" class="btn btn-primary btn-block mb-4">
							SUBMIT
						</button>

						<!-- Register buttons -->
						@*						<div class="text-center">
						<p>or sign up with:</p>
						<button type="button" class="btn btn-link btn-floating mx-1">
						<i class="fab fa-facebook-f"></i>
						</button>

						<button type="button" class="btn btn-link btn-floating mx-1">
						<i class="fab fa-google"></i>
						</button>

						<button type="button" class="btn btn-link btn-floating mx-1">
						<i class="fab fa-twitter"></i>
						</button>

						<button type="button" class="btn btn-link btn-floating mx-1">
						<i class="fab fa-github"></i>
						</button>
						</div>*@
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Section: Design Block -->

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

